@import './colors.scss';
@import './constants.scss';

.custom-button {
  border: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: none;
  cursor: pointer;
  line-height: 30px;
  border-radius: $border-radius;

  &:hover {
    background: lighten($dark-gray-color, 45%);
  }
}

input {
  background: $light-gray-color;
  border: none;
  border-bottom: 1px solid $dark-gray-color;
  outline: none;
  padding: 5px;
  width: 80%;
  height: 24px;
  border-radius: $border-radius;
  font-family: Roboto;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $light-gray-color;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  font-size: $font-size;
}

.gray-container {
  background: $light-gray-color;
  border-radius: $border-radius;
}